* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

#header {
    height: 69px;
}


#logo {
    height: 50px;
}

#intro {
    display: flex;
    height: 700px;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1mhcn5p*_ga*ODg0ODgzMDg1MC4xNjg0ODczNDc5*_ga_3LRZM6TM9L*MTY4ODc1MjE1MC4yNi4xLjE2ODg3NTI0NTUuNTguMC4w");
}

#tea-of-the-month {
    display: flex;
    width: 1000px;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    margin: auto;
    margin-top: 69px;
    margin-bottom: 69px;
}

#tea-of-the-month img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    display: flex;
    flex-flow: column wrap;
    margin: 10px 0 10px 0;
}

#locations-list {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*amss6u*_ga*ODg0ODgzMDg1MC4xNjg0ODczNDc5*_ga_3LRZM6TM9L*MTY5MTU0MTc4MC4yOS4xLjE2OTE1NDE3ODMuNTcuMC4w");
    background-size: cover;
    justify-content: center;
    text-align: center;
}

#locations-list h2 {
    background-color: transparent;
}

#locations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}

.location-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    opacity: 1;
    margin: 20px;
    text-align: center;
}

#contact-info {
    height: 200px;
    width: auto;
    text-align: center;
}

header {
    display: inline-flex;
    flex-flow: wrap;
    height: 69px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

nav {
    width: 50%;
    justify-content: flex-end;
}

nav>ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
}

nav>ul>li {
    display: inline-block;
    width: auto;
}

h2 {
    font-size: xx-large;
}

footer {
    margin-left: 20px;
    text-align: left;
}